
# Compiled object files
*.o
*.obj
*.lo
*.slo

# Compiled binary files
*.exe
*.out
*.app
*.elf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Visual Studio Code
.vscode/

